.about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container {
}

.text {
  color: white;
  font-size: 20pt;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .text {
    font-size: 16pt;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .text {
    font-size: 16pt;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .text {
    font-size: 18pt;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .text {
    font-size: 20pt;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .text {
    font-size: 20pt;
  }
}
