.about-container {
  display: flex;
  height: 100%;
}

.text-container {
  display: flex;
}

.text {
  width: 100%;
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
  }

  .text-container {
    margin-top: 20px;
  }

  .text {
    font-size: 12pt;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
  }

  .text-container {
    margin-top: 20px;
  }

  .text {
    font-size: 14pt;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
  }

  .text-container {
    margin-top: 20px;
  }

  .text {
    font-size: 14pt;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .about-container {
    flex-direction: row;
    justify-content: center;
  }

  .text-container {
    align-items: center;
  }

  .text {
    font-size: 16pt;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about-container {
    flex-direction: row;
    justify-content: center;
  }

  .text-container {
    align-items: center;
  }

  .text {
    font-size: 18pt;
  }
}
