.nav-container {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-item {
  cursor: pointer;
  color: #797979;
  font-size: 30pt;
  transition: transform 0.05s ease-in-out;
  transform-origin: right;
}

.nav-item:hover {
  color: #ffffff;
  transform: scale(1.5);
}

.nav-active {
  color: #e36d6b;
  transform: scale(1.5);
}
