.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wireframes-mock {
  flex-grow: 1;
}

.short-bio {
  color: #efefef;
}

.main-bio {
  font-size: 50px;
}

.sub-bio {
  font-size: 25px;
  padding-bottom: 20px;
}

.box-1 {
  background-color: #959595;
  width: 390px;
  height: 200px;
}

.box-2 {
  background-color: #6d6d6d;
  width: 270px;
  height: 160px;
  margin-left: 80px;
  margin-top: -50px;
}

.box-3 {
  background-color: #868686;
  width: 330px;
  height: 180px;
  margin-left: 250px;
  margin-top: -250px;
}
