.root-background {
  height: 100vh;
  background-color: #3d3d3d;
  padding: 50px;
}

.root-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.content {
  flex: 80%;
  overflow-y: auto;
}

.side-bar {
  flex: 20%;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.theme-toggle {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
