.root-background {
  height: 100vh;
  background-color: #3d3d3d;
  padding: 50px;
}

.root-container {
  /* border: solid 2px white; */
  height: 100%;
  width: 100%;
  display: flex;
}

.content {
  /* border: solid 2px red; */
  flex: 80%;
  overflow-y: auto;
}

.side-bar {
  /* border: solid 2px blue; */
  flex: 20%;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.theme-toggle {
  height: 50px;
  /* border: solid 2px rgb(68, 201, 218); */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav {
  flex-grow: 1;
  /* border: solid 2px rgb(201, 183, 77); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social {
  height: 50px;
  /* border: solid 2px rgb(58, 144, 29); */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
